h1 {
	font-family: Segoe UI;
	line-height: 20px;
}

h3 {
	font-family: Segoe UI;
	line-height: 10px;
}

hr {
  	width: 95%;
	height: 1px;
	background-color: black;
	margin-right: auto;
	margin-left: auto;
}

p {
	font-family: Segoe UI;
	text-align: center;
	line-height: 10px;
}

.information {
	font-family: Segoe UI;
	font-size: 14px;
	text-align: left;
	padding-left: 3%;
}

.title {
	font-family: Segoe UI;
	font-size: 16px;
	font-weight: bold;
}

.motto {
	font-family: Segoe UI;
	font-size: 12px;
	text-align: center;
}

.home {
	font-family: Segoe UI;
	font-size: 14px;
	text-align: left;
	padding-left: 3%;
}

.about {
	font-family: Segoe UI;
	font-size: 14px;
	text-align: left;
	padding-left: 3%;
}

.notice {
	font-family: Segoe UI;
	font-size: 12px;
	text-align: center;
}

.copyright {
	font-family: Segoe UI;
	font-size: 12px;
	text-align: center;
}
